*::selection {
	background: var(--color-orange);
	color: var(--c-white);
}

html,
body,
#__nuxt {
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat';
}

html {
	scroll-behavior: smooth;

	overflow-x: hidden;

	background-color: var(--bg-primary);
	font-size: 16px;
}

body {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

html.dark {
	color-scheme: dark;
}

@supports (scrollbar-color: #0c6dff #0c6dff) {
	html {
		scrollbar-color: #0c6dff #0c6dff;
	}
}
