@use '@/assets/scss/_variables' as *;
@use 'sass:color';

html.light-mode {
	/* --- Backgrounds --- */
	--bg-primary: #{$gray-0};
	--bg-blue: #{$primary-light};
	--bg-mark: #{$gray-0};
	--bg-benefits: #{$gray-100};

	/* --- Borders --- */
	--border-primary: #{$gray-100};
	--border-primary-hover: #{$gray-150};

	/* --- Colors --- */
	--color-primary: #{$primary-light};
	--color-primary-lighter: #{$primary-light-lighter};
	--color-primary-darker: #{$primary-light-darker};
	--color-white: #{$gray-0};
	--color-black: #{$gray-950};
	--color-gray: #{$gray-650};
	--color-orange: #{$orange};

	/* --- Text --- */
	--text-primary: #{$gray-700};
	--text-primary-muted: #{$gray-400};
	--text-button: #{$gray-100};
	--text-hero-primary: #{$gray-950};
	--text-hero-secondary: #{$gray-0};
	--text-benefits: #{$gray-950};

	/* --- Links --- */
	--link: #{$gray-600};
	--link-hover: #{$blue-600};
	--link-active: #{$blue-400};

	/* --- Forms / misc --- */
	--bg-input: #{$gray-50};
	--border-input: #{$gray-150};
	--border-input-hover: #{$blue-300};
	--border-input-focus: #{$blue-500};
	--caret-color: #{$blue-450};
	--color-red: #{$red-light};

	/* --- Faq --- */
	--bg-faq: #{$gray-150};
	--bg-faq-hover: #{$gray-0};
	--bg-faq-answer: #{$gray-50};
	--text-faq: #{$blue-850};
	--text-faq-number: #{$blue-850};
	--border-faq: #{$gray-200};
	--border-faq-bright: #{$blue-950};

	/* --- Selection --- */
	--selection-color: #{$white};
	--selection-bg-color: #{$primary-dark};
	--selection-color-input: #{$white};
	--selection-bg-color-input: #{$primary-dark};
}

html.dark-mode {
	/* --- Backgrounds --- */
	--bg-primary: #{$blue-950};
	--bg-primary-hover: #{$blue-900};
	--bg-mark: #{$white};
	--bg-blue: #{$primary-dark};
	--bg-benefits: #{$blue-950};

	/* --- Borders --- */
	--border-primary: #{$blue-900};
	--border-primary-hover: #{$blue-800};
	--border-reversed: #{$gray-200};
	--border-reversed-bright: #{$gray-500};

	/* --- Colors --- */
	--color-primary: #{$primary-dark};
	--color-primary-lighter: #{$primary-dark-lighter};
	--color-primary-darker: #{$primary-dark-darker};
	--color-secondary: #{$blue-0};
	--color-purple: #{$purple};
	--color-purple-lighter: #{$purple-lighter};
	--color-orange: #{$orange};
	--color-orange-lighter: #{$orange-lighter};
	--color-pink: #{$pink};
	--color-pink-lighter: #{$pink-lighter};
	--color-red: #{$red};
	--c-btn-benefits-content: #{$blue-950};
	--color-white: #{$gray-0};
	--color-black: #{$gray-950};
	--color-gray: #{$gray-650};

	/* --- Text --- */
	--text-primary: #{$gray-50};
	--text-primary-muted: #{$gray-150};
	--text-reversed: #{$blue-850};
	--text-button: #{$gray-50};
	--text-hero-primary: #{$gray-850};
	--text-hero-secondary: #{$gray-50};
	--text-benefits: #{$gray-100};

	/* --- Links --- */
	--link: #{$gray-100};
	--link-hover: #{$blue-150};
	--link-active: #{$blue-300};

	/* --- Benefits --- */
	--color-blue-bright: #{$blue-300};

	/* --- Form --- */
	--bg-input: #{$blue-900};
	--border-input: #{$blue-850};
	--border-input-hover: #{$blue-650};
	--border-input-focus: #{$blue-450};
	--caret-color: #{$blue-450};

	/* --- Faq --- */
	--bg-faq: #{$gray-150};
	--bg-faq-hover: #{$gray-100};
	--bg-faq-answer: #{$gray-150};
	--text-faq: #{$blue-850};
	--text-faq-number: #{$blue-850};
	--border-faq: #{$blue-900};
	--border-faq: #{$gray-200};
	--border-faq-bright: #{$gray-500};

	/* --- Selection --- */
	--selection-color: #{$primary-dark};
	--selection-bg-color: #{$blue-0};
	--selection-color-input: #{$blue-450};
	--selection-bg-color-input: #{$white};
}
